@model SignInViewModel
@{ ViewBag.Heading = "Sign in"; }
@if(Model.AuthenticationSchemes.Any())
{
	<div class="card">
		<div class="card-header">
			<h1 class="h4">@ViewBag.Heading</h1>
		</div>
		<div class="card-body">
			<p>Choose any of the following schemes to sign in.</p>
			<ul class="authentication-schemes sign-in list-group">
				@foreach(var authenticationScheme in Model.AuthenticationSchemes)
				{
					<li class="list-group-item">
						<a asp-action="@authenticationScheme.Kind" asp-controller="Authenticate" asp-route-authenticationScheme="@authenticationScheme.Name" asp-route-returnUrl="@Model.ReturnUrl" title="Sign in with @(authenticationScheme.DisplayName ?? authenticationScheme.Name)">
							<h2 class="h6">
								<svg class="size-1-point-4-rem" role="presentation">
									<use xlink:href="/Style/Icons/sprite.svg#@authenticationScheme.Icon" />
								</svg>
								<span class="font-weight-light">Sign in with</span> @(authenticationScheme.DisplayName ?? authenticationScheme.Name)
							</h2>
						</a>
					</li>
				}
			</ul>
		</div>
	</div>
}
else
{
	<div class="alert alert-warning">
		<h1 class="h5">
			<svg class="size-1-point-6-rem" role="presentation">
				<use xlink:href="/Style/Icons/sprite.svg#alert-circle" />
			</svg>
			No schemes
		</h1>
		<p>There are no authentication-schemes registered.</p>
	</div>
}